@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_UILayoutHeaderPartialComponent")
<body class="sub_page">
    @await Component.InvokeAsync("_UILayoutNavbarPartialComponent")
    @RenderBody()
    @await Component.InvokeAsync("_UILayoutFooterPartialComponent")
    @await Component.InvokeAsync("_UILayoutScriptPartialComponent")
</body>
</html>