<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/firatkazak/">
                        Linkedin
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/firatkazak/">
                        Instagram
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/firatkazak">
                        Twitter
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright ml-auto">
            @DateTime.Now.Year | Tüm Hakları Saklıdır.
        </div>
    </div>
</footer>